@charset "UTF-8";

.main_logo{
	padding: 10px;
	width: 110px;
	display: inline-block;
}

.main_bar{
	text-align:right;
	width: 525px;
	padding: 10px;
	display: inline-block;
	position: absolute;
}

.main_bar a{
	font-weight: bold;
	color: gray;
	text-decoration: none;
	
}
.main_bar a:link{
	color: gray;
}

#search_button{
	float: right;
	margin: 0;
	border: 0;
	font-weight: bold;
	color: white;
	height: 33px;
	background-color: #2b90d9;
}
#search_button:hover{
	cursor: pointer;
}
#search_value{
	float: right;
	margin: 0;
	margin-bottom: 2px;
	border: 3px solid #2b90d9;
	height: 25px;
}

.nav_menu{
	width: 674px;
	height: 48px;
}
.gnb{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #2b90d9;
}
.gnb li{
	float: left;
	width: 110px;
	height: 100%;
	background: url(images/navigation-separator.png) no-repeat 109px 12px;
}
.gnb li a:hover{
	background: url(images/navigation-hover.png) repeat-x;
	color: #343434;
}
.gnb li a{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-align: center;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 50px;
	color: white;
}