@charset "UTF-8";


body{
	background: #C6E5F3;
	}
caption{
	text-indent: -9999px;
}
img{
	width: 400px;
	height: 300px;
	margin-left: 130px;
}
#wrap{
	width: 674px;
	margin: auto;	
}
#reg_table{
	position: relative;
	width: 674px;
	margin-left: 0;
}
.reg_form td{
	height: 70px;
	width: 400px;
}
.reg_form{
	font-size: 20px;
}
#id,#pw,#name{
	width:300px;
	height: 40px;
	font-size: 20px;
}
#email{
	height: 40px;
	width:150px;
	font-size: 20px;
}
#email2{
	height: 40px;
	width:180px;
	font-size: 20px;
}
#phone{
	height: 40px;
	width:100px;
	font-size: 20px;
}
#phone2,#phone3{
	height: 40px;
	width:100px;
	font-size: 20px;
}
#id_box{
	position: absolute;
	top: 50px;
	left: 500px;
	width: 90px;
	font-size: 20px;
}
#submit_btn{
	width:405px;
	height: 60px;
	font-size: 15px;
	background: #2b90d9;
	}
tfoot{
	text-align: center;
}
#close_btn{
	color: #9baec8;
	text-align: center;
}
#close_btn:hover{
	cursor: pointer;
}
#sub_btn{
	margin-top: 100px;
}