@charset "UTF-8";

	#wrap{
		width: 673px;
		background-color: #C6E5F3;
		margin: auto;
		padding-bottom: 50px;
	}

	#bbs table caption {
	    font-size:20px;
	    font-weight:bold;
	    margin-bottom:10px;
	}
	 
	#bbs table th {
	    text-align:center;
	    border:1px solid #d9f1f7;
	    padding:4px 10px;
	}
	
	#bbs table td {
	    text-align:left;
	    border:1px solid #d9e1e8;
	    padding:4px 10px;
	    background-color: white;
	}
	
	th{
		height: 40px;
		color: #353866;
		font-family: ‘Roboto’, ‘Spoqa Han Sans’, ‘Spoqa Han Sans JP’, ‘Sans-serif’; 
		font-size: 14px;
		font-weight: 700;
		background-color: #d9e1e8;
		width: 100px;
	}
	
	
	
	#goList1, #del1, #edit1{
		width:50px;
	    background-color: #2b90d9;
	    border: none;
	    color:#fff;
	    padding: 6px 0;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 15px;
	    margin: 4px;
	    cursor: pointer;
		border-radius:10px;
		
	}
	
	
	form#answer_form table{
		border: 1px solid #dddddd;
		border-collapse:collapse;
	}
	
	
	
		#bbs table {
	    width:640px;
	   	margin: auto;
	    
	    border-collapse:collapse;
	    font-size:14px;
	}
	
	#answer{
		width: 640px;
		margin: auto;
		background-color: #ffffff;
		
	}	
	
	
	#answer_write{
		width: 640px;
		margin: auto;
		padding: 0;
		background-color: #ffffff;
		 border-collapse:collapse;
	}	
		
	##bbs td{
		border:1px solid #dddddd;
		background-color: #ffffff;
	}
		
	#write_form{
		margin-top: 45px;
	}	
	#com_wr_bt{
	width:70px;
	    background-color: #2b90d9;
	    border: none;
	    color:#fff;
	    padding: 6px 0;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 15px;
	    margin: 4px;
	    cursor: pointer;
		border-radius:10px;
	}
	
	#answer_write tr{
		border:1px solid #eeeeee;
		
	
	}
	
	#answer_form{
		margin: 0;
		padding: 0;
	}
	#t1{
		margin: 0;
		padding: 0;
	}
	
	#answer_table td{
		border-collapse: collapse;
		border:1px solid #eeeeee;
	}
	

	#answer_table tbody tr td:last-child{
		font-size: 0.9em;
		text-align: center;
	}
	
	textarea{ resize: none; }
	
